@font-face {
	font-family: 'Proxima Nova';
	src: url('./../www/fonts/proximanova-regular-webfont.eot');
	src: url('./../www/fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), 
		url('./../www/fonts/proximanova-regular-webfont.woff') format('woff'), 
		url('./../www/fonts/proximanova-regular-webfont.ttf') format('truetype'), 
		url('./../www/fonts/proximanova-regular-webfont.svg#proxima-nova') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('./../www/fonts/proximanova-bold-webfont.eot');
	src: url('./../www/fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), 
		url('./../www/fonts/proximanova-bold-webfont.woff') format('woff'), 
		url('./../www/fonts/proximanova-bold-webfont.ttf') format('truetype'), 
		url('./../www/fonts/proximanova-bold-webfont.svg#proxima-nova') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Book';
	src: url('./../www/fonts/gotham-book.eot');
	src: url('./../www/fonts/gotham-book.eot?#iefix') format('embedded-opentype'), url('./../www/fonts/gotham-book.woff') format('woff'), url('./../www/fonts/gotham-book.ttf') format('truetype'), url('./../www/fonts/gotham-book.svg#gotham-book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Bold';
	src: url('./../www/fonts/gotham-bold.eot');
	src: url('./../www/fonts/gotham-bold.eot?#iefix') format('embedded-opentype'), url('./../www/fonts/gotham-bold.woff') format('woff'), url('./../www/fonts/gotham-bold.ttf') format('truetype'), url('./../www/fonts/gotham-bold.svg#gotham-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Light';
	src: url('./../www/fonts/gotham-light.eot');
	src: url('./../www/fonts/gotham-light.eot?#iefix') format('embedded-opentype'), url('./../www/fonts/gotham-light.woff') format('woff'), url('./../www/fonts/gotham-light.ttf') format('truetype'), url('./../www/fonts/gotham-light.svg#gotham-light') format('svg');
	font-weight: normal;
	font-style: normal;
}